.bounce, .bounce2, .bounce3 {
    height: 100px;
    width: 100px;
    border: 1px black solid;
    float: left;
    margin-right: 20px;
    position: absolute;
}

.box{
    height: 100vh;
    width: 100%;
}